In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
# Load data

csv_file = "semifinals_last_athlete_cam14_pose_estimation_data.csv"

data = pd.read_csv('../keypoints/' + csv_file)

data

,frame,bbox,keypoints
0,6,"[(158, 461, 333, 619, 158, 461, 333, 619), (16...","[[2240.0, 974.0], [2242.0, 970.0], [2234.0, 97..."
1,7,"[(158, 461, 333, 619, 158, 461, 333, 619), (16...","[[2240.0, 974.0], [2242.0, 970.0], [2234.0, 97..."
2,24,"[(160, 461, 308, 471, 160, 461, 308, 471), (16...","[[2688.0, 510.0], [2686.0, 510.0], [2688.0, 51..."
3,25,"[(160, 461, 308, 471, 160, 461, 308, 471), (16...","[[2688.0, 510.0], [2686.0, 510.0], [2688.0, 51..."
4,35,"[(159, 461, 331, 619, 159, 461, 331, 619), (16...","[[2686.0, 512.0], [2684.0, 510.0], [2686.0, 51..."
...,...,...,...
10209,9028,"[(1487, 728, 433, 352, 1487, 728, 433, 352), (...","[[2984.0, 1850.0], [2982.0, 1830.0], [2984.0, ..."
10210,9028,"[(1487, 728, 433, 352, 1487, 728, 433, 352), (...","[[3218.0, 844.0], [3216.0, 838.0], [3210.0, 84..."
10211,9029,"[(1487, 728, 433, 352, 1487, 728, 433, 352), (...","[[2986.0, 1858.0], [2984.0, 1836.0], [2988.0, ..."
10212,9029,"[(1487, 728, 433, 352, 1487, 728, 433, 352), (...","[[2560.0, 386.0], [2560.0, 382.0], [2560.0, 38..."
10213,9030,"[(1487, 728, 433, 352, 1487, 728, 433, 352), (...","[[2988.0, 1860.0], [2984.0, 1840.0], [2986.0, ..."